:root {
    --bg-primary: #000000;
    --text-light: #FFFFFF;
    --title-primary-color: #F5F5F7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED2B9;
}

header {
    background-color: var(--bg-primary);
    color: var(--text-light);
    height: fit-content;
    position: sticky;
    top: 0;
    padding: 12px 0;
    width: 100%;
    z-index: 9999;
}

header nav ul{
    margin: 0 auto;
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-light);
    min-width: fit-content;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main section {
    background-color: var(--bg-primary);
    text-align: center;
    position: relative;
}

main section img {
    width: 100%;
    height: auto;
}

main .main-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-light);
    line-height: 4rem;
    letter-spacing: -0.28px;
}

main .main-section h2 {
    color: var(--subtitle-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main .main-section a {
    color: var(--action-color);
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-decoration: none;
    cursor: pointer;
}

main .main-section a:hover {
    text-decoration: underline;
}

main section .text-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 50px;
}
main .spirited-section {
    background-color: var(--bg-light);
}

main .spirited-section > div {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

main .spirited-section > div:first-child {
    top: 105px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
}

main .spirited-section > div:first-child h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--spirited-main-color);
    letter-spacing: -0.6px;
}

main .spirited-section h2 {
    color: var(--title-primary-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.11px;
}

main .spirited-section a {
    color: var(--text-light);
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    letter-spacing: 0.23px;
    cursor: pointer;
}

main .spirited-section a:hover {
    text-decoration: underline;
}

main .spirited-section > div:last-child {
    bottom: 50px
}

main .iphone-section {
    background-color: var(--text-light);
}

main .iphone-section h3 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: 0.3px;
}

main .iphone-section p {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.11px;
}

main .iphone-section .text-wrapper > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

main .iphone-section a {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: var(--action-color);
}

main .iphone-section a:hover {
    text-decoration: underline;
}